#game-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 30%;
  background-color: #e3e5e2;
  padding-bottom: 30px;
  padding-right: 30px;
  padding-left: 30px;
  border-left: 5px solid #caceca;
  border-right: 5px solid #caceca;
  border-left: 5px solid #f2f6f2;
  border-bottom: 5px solid #caceca;
  position: relative;
}

.title-bar__container {
  height: 81px;
}

.title-bar {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  background: linear-gradient(
    0.25turn,
    rgb(10, 3, 43),
    rgb(118, 157, 216),
    #e6e4eb
  );
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  align-items: center;
  border-left: 5px solid #f2f6f2;
  border-right: 5px solid #cccabd;
  border-top: 5px solid #f0f6f0;
}

.dmine {
  width: 72px;
  height: 72px;
}

h1 {
  font-size: 48px;
  margin-left: 16px;
  font-family: "Orbitron", sans-serif;
  color: white;
}

.menu__list {
  padding-top: 48px;
  width: 15%;
}

.menu__list li:hover {
  cursor: pointer;
}
